{% extends 'base.html' %}

{% block content %}
    <div class="container my-5">
        <div class="card">
            <div class="card-header d-flex justify-content-between align-items-center">
                <h4 class="card-title">Album - {{ album.title }}</h4>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#uploadModal">
                    Upload Image
                </button>
            </div>
            <div class="card-body">
                <div class="row">
                    {% for image in images %}
                        <div class="col-md-2 mb-4">
                            <div class="card">
                                <img class="card-img-top" src="{{ image.image.url }}" alt="{{ image.image }}"
                                     onclick="showImageDetailModal('{{ image.image.url }}', {{ image.id }})">
                            </div>
                        </div> <!-- Добавихме затварящия div тук -->
                    {% endfor %}
                </div> <!-- Затваряме реда тук -->
            </div>
        </div>
    </div>

    <!-- Modal for Image Upload -->
    <div class="modal fade" id="uploadModal" tabindex="-1" role="dialog" aria-labelledby="uploadModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="uploadModalLabel">Upload Image</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="post" enctype="multipart/form-data" action="{% url 'album_detail' album.id %}">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Upload</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal for Image Details -->
    <div class="modal fade" id="imageDetailModal" tabindex="-1" role="dialog" aria-labelledby="imageDetailModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header d-flex justify-content-between">
                    <h5 class="modal-title" id="imageDetailModalLabel">Image Detail</h5>
                    <div>
                        <button type="button" class="btn btn-secondary" id="prevImage"><i class="fas fa-arrow-left"></i>
                        </button>
                        <button type="button" class="btn btn-secondary" id="nextImage"><i
                                class="fas fa-arrow-right"></i></button>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-8">
                            <img class="img-fluid" src="#" alt="Selected Image" id="selectedImage" style="width: 100%">
                        </div>
                        <div class="col-md-4 mx-auto text-center">
                            <form method="post" action="" id="emoticonForm">
                                {% csrf_token %}
                                <input type="hidden" name="image_id" id="emoticonImageId">
                                <input type="hidden" name="emoticon_type" id="emoticonTypeField">
                                <input type="hidden" name="user_id" value="{{ user_profile.id }}">
                                <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                                <div class="btn-group" role="group" aria-label="Emoticons">
                                    <button type="button" class="btn btn-link btn-emoticon"
                                            onclick="setEmoticon('like')">
                                        <i class="fas fa-thumbs-up" style="color: #3b5998"></i>
                                        <span id="likeCount"></span>
                                    </button>
                                    <button type="button" class="btn btn-link btn-emoticon"
                                            onclick="setEmoticon('heart')">
                                        <i class="fas fa-heart" style="color: #dc143c"></i>
                                        <span id="heartCount"></span>
                                    </button>
                                    <button type="button" class="btn btn-link btn-emoticon"
                                            onclick="setEmoticon('smile')">
                                        <i class="fas fa-smile" style="color: #ffd700"></i>
                                        <span id="smileCount"></span>
                                    </button>
                                    <button type="button" class="btn btn-link btn-emoticon"
                                            onclick="setEmoticon('rage')">
                                        <i class="fas fa-angry" style="color: #ff0000;"></i>
                                        <span id="rageCount"></span>
                                    </button>
                                </div>
                            </form>

                            <button class="btn btn-link text-decoration-none mt-3" id="toggleCommentForm">Comments
                            </button>
                            <form id="commentForm" class="mt-3">
                                <input type="hidden" name="image_id" id="commentImageId" value="{{ currentImageId }}">
                                <input type="hidden" name="user_id" id="commentUserId" value="{{ user_profile.id }}">
                                {% csrf_token %}
                                {{ comment_form.as_p }}
                                <button type="button" id="submitComment" class="btn btn-primary">Add Comment</button>
                            </form>

                            <div id="commentList" class="mt-3">
                                <!-- Comments will be loaded here dynamically using JavaScript -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <style>
        .btn-emoticon {
            margin: 0;
            padding: 2px;
        }

        .btn-emoticon i {
            font-size: 2rem;
            transition: transform 0.3s;
        }

        .btn-emoticon:hover i {
            transform: scale(1.2);
        }
    </style>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        let currentImageId = null;

        function showImageDetailModal(imageUrl, imageId) {
            $('#selectedImage').attr('src', imageUrl);
            $('#imageDetailModal').modal('show');
            loadImageDetails(imageId);
            currentImageId = imageId;
            $('#commentImageId').val(imageId);
        }

        function loadImageDetails(imageId) {
            $.ajax({
                url: '/posts/image/' + imageId + '/',
                method: 'GET',
                contentType: 'application/json',
                dataType: 'json',
                success: function (response) {
                    // Load comments
                    let commentsHtml = '';
                    response.comments.reverse().forEach(function (comment) {
                        commentsHtml += '<p>' + comment.content + '</p>';
                    });
                    $('#commentList').html(commentsHtml);

                    // Load emoticons
                    $('#likeCount').text(response.emoticon_counts.like);
                    $('#heartCount').text(response.emoticon_counts.heart);
                    $('#smileCount').text(response.emoticon_counts.smile);
                    $('#rageCount').text(response.emoticon_counts.rage);
                },
                error: function (xhr, status, error) {
                    console.error('Error loading image details:', error);
                    console.log(xhr);
                    console.log(status);
                    console.log(error);
                }
            });
        }

        $(document).ready(function () {
            const images = [];
            {% for image in images %}
                images.push({url: "{{ image.image.url }}", id: {{ image.id }}});
            {% endfor %}

            let currentIndex = 0;

            $('#prevImage').click(function () {
                currentIndex--;
                if (currentIndex < 0) {
                    currentIndex = images.length - 1;
                }
                $('#selectedImage').attr('src', images[currentIndex].url);
                loadImageDetails(images[currentIndex].id);
                currentImageId = images[currentIndex].id;
            });

            $('#nextImage').click(function () {
                currentIndex++;
                if (currentIndex >= images.length) {
                    currentIndex = 0;
                }
                $('#selectedImage').attr('src', images[currentIndex].url);
                loadImageDetails(images[currentIndex].id);
                currentImageId = images[currentIndex].id;
            });

            $('#toggleCommentForm').click(function () {
                $('#commentForm').toggle();
            });
        });

        function setEmoticon(emoticonType) {
            if (currentImageId === null) {
                console.error('No image ID is set');
                return;
            }

            $('#emoticonImageId').val(currentImageId);
            $('#emoticonTypeField').val(emoticonType);

            const csrfToken = $('input[name="csrfmiddlewaretoken"]').val();

            let data = {
                'image_id': currentImageId,
                'emoticon_type': emoticonType,
                'user_id': $('input[name="user_id"]').val(),
            };
            console.log('Data being sent:', data);

            $.ajax({
                url: '/posts/image/emoticon/add/',
                method: 'POST',
                data: JSON.stringify(data),
                contentType: 'application/json',
                headers: {
                    'X-CSRFToken': csrfToken
                },
                success: function (response) {
                    if (response.success) {
                        loadImageDetails(currentImageId);
                    } else {
                        console.error('Error:', response.error);
                    }
                },
                error: function (xhr, status, error) {
                    console.error('Error:', error);
                    console.log(xhr);
                    console.log(status);
                }
            });
        }


        $(document).ready(function () {
            $('#submitComment').click(function () {
                var formData = {
                    'image_id': $('#commentImageId').val(),
                    'user_id': $('#commentUserId').val(),
                    'content': $('#id_content').val(),
                };

                var csrfToken = $('input[name="csrfmiddlewaretoken"]').val();

                $.ajax({
                    type: 'POST',
                    url: '{% url "add_comment" %}',
                    data: JSON.stringify(formData),
                    contentType: 'application/json',
                    headers: {
                        'X-CSRFToken': csrfToken
                    },
                    success: function (data) {
                        loadImageDetails(currentImageId);
                    },
                    error: function (data) {
                        console.log('Възникна грешка при добавянето на коментар.');
                        console.log(data);
                    },
                });
            });
        });
    </script>
{% endblock %}
