{% extends 'base.html' %}

{% block content %}
    <div class="container my-5">
        <div class="card">
            <div class="card-header d-flex justify-content-between align-items-center">
                <h4 class="card-title">Album - {{ album.title }}</h4>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#uploadModal">
                    Upload Image
                </button>
            </div>
            <div class="card-body">
                <div class="row">
                    {% for image in images %}
                        <div class="col-md-2 mb-4">
                            <div class="card">
                                <img class="card-img-top" src="{{ image.image.url }}" alt="{{ image.image }}"
                                     onclick="showImageDetailModal('{{ image.image.url }}', {{ image.id }})">
                            </div>
                        </div> <!-- Добавихме затварящия div тук -->
                    {% endfor %}
                </div> <!-- Затваряме реда тук -->
            </div>
        </div>
    </div>

    <!-- Modal for Image Upload -->
    <div class="modal fade" id="uploadModal" tabindex="-1" role="dialog" aria-labelledby="uploadModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="uploadModalLabel">Upload Image</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="post" enctype="multipart/form-data" action="{% url 'album_detail' album.id %}">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Upload</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal for Image Details -->
    <div class="modal fade" id="imageDetailModal" tabindex="-1" role="dialog" aria-labelledby="imageDetailModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header d-flex justify-content-between">
                    <h5 class="modal-title" id="imageDetailModalLabel">Image Detail</h5>
                    <div>
                        <button type="button" class="btn btn-secondary" id="prevImage"><i class="fas fa-arrow-left"></i>
                        </button>
                        <button type="button" class="btn btn-secondary" id="nextImage"><i
                                class="fas fa-arrow-right"></i></button>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-8">
                            <img class="img-fluid" src="#" alt="Selected Image" id="selectedImage" style="width: 100%">
                        </div>
                        <div class="col-md-4 mx-auto text-center">
                            <form method="post" action="" id="emoticonForm">
                                {% csrf_token %}
                                <input type="hidden" name="image_id" id="emoticonImageId">
                                <input type="hidden" name="emoticon_type" id="emoticonTypeField">
                                <input type="hidden" name="user_id" value="{{ user_profile.id }}">
{#                                <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">#}
                                <div class="btn-group" role="group" aria-label="Emoticons">
                                    <button type="button" class="btn btn-link btn-emoticon"
                                            onclick="setEmoticon('like')">
                                        <i class="fas fa-thumbs-up" style="color: #3b5998"></i>
                                        <span id="likeCount"></span>
                                    </button>
                                    <button type="button" class="btn btn-link btn-emoticon"
                                            onclick="setEmoticon('heart')">
                                        <i class="fas fa-heart" style="color: #dc143c"></i>
                                        <span id="heartCount"></span>
                                    </button>
                                    <button type="button" class="btn btn-link btn-emoticon"
                                            onclick="setEmoticon('smile')">
                                        <i class="fas fa-smile" style="color: #ffd700"></i>
                                        <span id="smileCount"></span>
                                    </button>
                                    <button type="button" class="btn btn-link btn-emoticon"
                                            onclick="setEmoticon('rage')">
                                        <i class="fas fa-angry" style="color: #ff0000;"></i>
                                        <span id="rageCount"></span>
                                    </button>
                                </div>
                            </form>

                            <button class="btn btn-link text-decoration-none mt-3" id="toggleCommentForm">Comments
                            </button>
                            <form id="commentForm" class="mt-3">
                                <input type="hidden" name="image_id" id="commentImageId" value="{{ currentImageId }}">
                                <input type="hidden" name="user_id" id="commentUserId" value="{{ user_profile.id }}">
                                {% csrf_token %}
                                {{ comment_form.as_p }}
                                <button type="button" id="submitComment" class="btn btn-primary">Add Comment</button>
                            </form>

                            <div id="commentList" class="mt-3">
                                <!-- Comments will be loaded here dynamically using JavaScript -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="reactionsModal" tabindex="-1" aria-labelledby="reactionsModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="reactionsModalLabel">Reactions</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="reactionsModalBody">
                    <!-- Reactions will be loaded here -->
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <style>
        .btn-emoticon {
            margin: 0;
            padding: 2px;
        }

        .btn-emoticon i {
            font-size: 2rem;
            transition: transform 0.3s;
        }

        .btn-emoticon:hover i {
            transform: scale(1.2);
        }

        .comment {
            margin-bottom: 20px;
            padding: 15px;
            border: 1px solid #ccc;
            border-radius: 10px;
            overflow: hidden;
        }

        .profile-img {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            margin-right: 10px;
        }
    </style>
    <script>
        let currentImageId = null;

        function showImageDetailModal(imageUrl, imageId) {
            $('#selectedImage').attr('src', imageUrl);
            $('#imageDetailModal').modal('show');
            loadImageDetails(imageId);
            currentImageId = imageId;
            $('#commentImageId').val(imageId);
        }

        function loadImageDetails(imageId) {
            $.ajax({
                url: '/posts/image/' + imageId + '/',
                method: 'GET',
                contentType: 'application/json',
                dataType: 'json',
                success: function (response) {
                    let dataEmoticon = {
                        'like': '<i class="fas fa-thumbs-up" style="color: #3b5998"></i>',
                        'heart': '<i class="fas fa-heart" style="color: #dc143c"></i>',
                        'smile': '<i class="fas fa-smile" style="color: #ffd700"></i>',
                        'rage': '<i class="fas fa-angry" style="color: #ff0000;"></i>'
                    };

                    let commentsHtml = '';
                    response.comments.reverse().forEach(function (comment) {
                        let reactionsData = {
                            emoticon_counts: comment.emoticon_counts,
                            user_profile: comment.user_profile,
                            commentEmoticon: dataEmoticon
                        };
                        let formattedDate = new Date(comment.created_at).toISOString().split('T')[0];
                        commentsHtml += `<div class="comment">
                    <img src="${comment.user_profile.profile_img}" alt="Profile Image" class="profile-img">
                    <div class="d-flex flex-column">
                        <strong>${comment.user_profile.first_name} ${comment.user_profile.second_name}:</strong>
                        <p>${comment.content}</p>
                        <div class="d-flex justify-content-center">
                            <div>
                                <button type="button" class="btn btn-link btn-emoticon" data-comment-id="${comment.id}" data-emoticon-type="like">
    <i class="fas fa-thumbs-up" style="color: #3b5998"></i>
</button>
<button type="button" class="btn btn-link btn-emoticon" data-comment-id="${comment.id}" data-emoticon-type="heart">
    <i class="fas fa-heart" style="color: #dc143c"></i>
</button>
<button type="button" class="btn btn-link btn-emoticon" data-comment-id="${comment.id}" data-emoticon-type="smile">
    <i class="fas fa-smile" style="color: #ffd700"></i>
</button>
<button type="button" class="btn btn-link btn-emoticon" data-comment-id="${comment.id}" data-emoticon-type="rage">
    <i class="fas fa-angry" style="color: #ff0000;"></i>
</button>
                            </div>
                        </div>
                    </div>
                    <p class="ds-cursor" style="cursor: pointer" data-reactions='${JSON.stringify(reactionsData)}'>
                        ${comment.total_emoticon_count} people liked this
                    </p>
                    <p class="text-muted small mb-0">${formattedDate}</p>
                </div>`;
                    });
                    $('#commentList').html(commentsHtml);

                    // Load emoticons
                    $('#likeCount').text(response.emoticon_counts.like);
                    $('#heartCount').text(response.emoticon_counts.heart);
                    $('#smileCount').text(response.emoticon_counts.smile);
                    $('#rageCount').text(response.emoticon_counts.rage);
                },
                error: function (xhr, status, error) {
                    console.error('Error loading image details:', error);
                }
            });
        }

        $(document).on('click', '.ds-cursor', function () {
            const reactions = $(this).data('reactions');
            let reactionsHtml = '';

            for (const [emoticon, count] of Object.entries(reactions.emoticon_counts)) {
                if (count > 0) {
                    reactionsHtml += `<div class="reaction">
                <img src="${reactions.user_profile.profile_img}" alt="Profile Image" class="profile-img">
                <strong>${reactions.user_profile.first_name} ${reactions.user_profile.second_name}</strong> reacted with ${reactions.commentEmoticon[emoticon]}
            </div>`;
                }
            }

            $('#reactionsModalBody').html(reactionsHtml);
            $('#reactionsModal').modal('show');
        });

        $(document).ready(function () {
            const images = [];
            {% for image in images %}
                images.push({url: "{{ image.image.url }}", id: {{ image.id }}});
            {% endfor %}

            let currentIndex = 0;

            $('#prevImage').click(function () {
                currentIndex--;
                if (currentIndex < 0) {
                    currentIndex = images.length - 1;
                }
                $('#selectedImage').attr('src', images[currentIndex].url);
                loadImageDetails(images[currentIndex].id);
                currentImageId = images[currentIndex].id;
            });

            $('#nextImage').click(function () {
                currentIndex++;
                if (currentIndex >= images.length) {
                    currentIndex = 0;
                }
                $('#selectedImage').attr('src', images[currentIndex].url);
                loadImageDetails(images[currentIndex].id);
                currentImageId = images[currentIndex].id;
            });

            $('#toggleCommentForm').click(function () {
                $('#commentForm').toggle();
            });

            $('#submitComment').click(function () {
                let formData = {
                    'image_id': $('#commentImageId').val(),
                    'user_id': $('#commentUserId').val(),
                    'content': $('#id_content').val(),
                };

                let csrfToken = $('input[name="csrfmiddlewaretoken"]').val();

                $.ajax({
                    type: 'POST',
                    url: '{% url "add_comment" %}',
                    data: JSON.stringify(formData),
                    contentType: 'application/json',
                    headers: {
                        'X-CSRFToken': csrfToken
                    },
                    success: function (data) {
                        loadImageDetails(currentImageId);
                    },
                    error: function (data) {
                        console.log('Error adding comment.');
                    },
                });
            });
        });

        function setEmoticon(emoticonType) {
            if (currentImageId === null) {
                console.error('No image ID is set');
                return;
            }

            $('#emoticonImageId').val(currentImageId);
            $('#emoticonTypeField').val(emoticonType);

            const csrfToken = $('input[name="csrfmiddlewaretoken"]').val();

            let data = {
                'image_id': currentImageId,
                'emoticon_type': emoticonType,
                'user_id': $('input[name="user_id"]').val(),
            };

            $.ajax({
                url: '/posts/image/emoticon/add/',
                method: 'POST',
                data: JSON.stringify(data),

                headers: {
                    "X-Requested-With": "XMLHttpRequest",
                    'X-CSRFToken': csrfToken
                },
                success: function (response) {
                    if (response.success) {
                        loadImageDetails(currentImageId);
                    } else {
                        console.error('Error:', response.error);
                    }
                },
                error: function (xhr, status, error) {
                    console.error('Error:', error);
                }
            });
        }

        $(document).on('click', '.btn-emoticon', function () {
            const commentId = $(this).data('comment-id');
            const emoticonType = $(this).data('emoticon-type');
            const userId = $('input[name="user_id"]').val();

            if (!commentId || !emoticonType || !userId) {
                return;
            }

            const csrfToken = $('input[name="csrfmiddlewaretoken"]').val();

            let data = {
                'comment_id': commentId,
                'emoticon_type': emoticonType,
                'user_id': userId,
            };
            console.log(data)

            $.ajax({
                url: '/posts/comment/emoticon/add/',
                method: 'POST',
                data: JSON.stringify(data),
                contentType: 'application/json',
                headers: {
                    'X-CSRFToken': csrfToken
                },
                success: function (response) {
                    if (response.success) {
                        console.log(csrfToken)
                        loadImageDetails(currentImageId);
                    } else {
                        console.error('Error:', response.error);
                    }
                },
                error: function (xhr, status, error) {
                    console.error('Error:', error);
                }
            });
        });
        function getCookie(name) {
  let cookieValue = null;
  if (document.cookie && document.cookie !== "") {
    const cookies = document.cookie.split(";");
    for (let i = 0; i < cookies.length; i++) {
      const cookie = cookies[i].trim();
      // Does this cookie string begin with the name we want?
      if (cookie.substring(0, name.length + 1) === (name + "=")) {
        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
        break;
      }
    }
  }
  return cookieValue;
}
    </script>

{% endblock %}
